body {
    background: #6f5499;
}
.content {
    text-align: center;
    margin-top: 100px;
    color: #fff;
}

.welcome {
    font-size: 30px;
}

.count {
    font-size: 42px;
    margin-bottom: 30px;
}
