body {
    background: #6f5499;
}
.content {
    text-align: center;
    margin-top: 200px;
    color: #fff;
    font-size: 30px;
}

.button {
    border: 1px solid #fff;
    padding: 15px 30px;
    background: #fff;
    border-radius: 8px;
    color: #6f5499;
    text-shadow: -1px -1px 0 #666;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .3);
}
.button:hover {
    color: #ccc;
    text-decoration: none;
}